{% extends "home.html" %}

{% block content %}

<div>

{% for object in object_list %}

<div class="card m-4">
    <h5 class="card-header">{{ object.name }}</h5>
    <div class="card-body">
      {% for share in object.share.all %}
        <p class="card-text">{{ share.user }} : {{ object.share.count }}</p>
      {% endfor %}
      <a href="{% url 'costcenter_delete' object.id %}" class="card-link">Löschen</a>
      <a href="{% url 'costcenter_update' object.id %}" class="card-link">Ändern</a>
      <a href="{% url 'costcenter_read' object.id %}" class="card-link">Details</a>
    </div>
  </div>

{% endfor %}

<div class="mx-auto p-2" style="width: 200px;">
  <a class="btn btn-primary" href="{% url 'costcenter_create' %}" role="button">Kostenstelle Hinzufügen</a>
</div>

</div>
{% endblock %}