{% extends "home.html" %}

{% block content %}

<div>

{% for object in object_list %}

<div class="card m-4">
    <h5 class="card-header">{{ object.name }}</h5>
    <div class="card-body">
      <h5 class="card-title">{{ object.id }}</h5>
      <p class="card-text">bezahlt</p>
      <a href="{% url 'share_delete' object.id %}" class="card-link">Löschen</a>
      <a href="{% url 'share_update' object.id %}" class="card-link">Ändern</a>
      <a href="{% url 'share_read' object.id %}" class="card-link">Details</a>
    </div>
  </div>

{% endfor %}

<div class="mx-auto p-2" style="width: 200px;">
  <a class="btn btn-primary" href="{% url 'share_create' %}" role="button">Beteiligung Hinzufügen</a>
</div>

</div>
{% endblock %}