<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Vesterby</a>
    {% if user.is_authenticated %}

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'expense_list' %}">Ausgaben</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Finanzen</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'costcenter_list' %}">Kostenstellen</a>
            <a class="dropdown-item" href="{% url 'share_list' %}">Beteiligungen</a>
            <a class="dropdown-item" href="{% url 'expense_list' %}">Ausgaben</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Überweisungen</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kostenstellen</a>
        </li>
      </ul>

      <ul class="nav justify-content-end">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">{{ user.username }} <i class="bi bi-person-circle" style="font-size: 1rem; color: rgb(255,255,255);"></i></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Change Password</a></li>
          </ul>
        </li>
      </ul>
    </div>



    {% else %}

    <ul class="nav justify-content-end">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="bi bi-person-circle" style="font-size: 1rem; color: rgb(255,255,255);"></i></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Change Password</a></li>
        </ul>
      </li>
    </ul>




    {% endif %}
  </div>
</nav>

<!--nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Vesterby</a>
    </div>
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="{% url 'detail' %}">detail</a></li>
      <li><a href="{% url 'expense_list' %}">Finace</a></li>
    </ul>
    
    
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="glyphicon glyphicon-user"></span></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          <li><a class="dropdown-item" href="{% url 'password_reset' %}">Password Reset</a></li>
        </ul>
      </li>
    </ul>

   
    {% else %}

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        </ul>
      </li>
    </ul>

    {% endif %}
  </div>
</nav-->
{% endblock %}

{%block content %}
{% endblock %}
